* {
    margin: 0;
    padding: 0;
}

body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 70%;
    margin: 0px auto;
    border: 1px solid red;
}

header {
    background: red;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black;
}

nav {
    background: lightblue;
    height: 50px;
    line-height: 30px;
    border-bottom: 1px solid black;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
}

.clearfix {
    clear: both;
}

#content {
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: green;
    padding: 40px;
}

.article {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
}

.article:first-child {
    padding-top: 10px;
    border-top: 1px solid #bbb;
}

.article h2 {
    font-size: 25px;
}

aside {
    float: left;
    width: calc(20% - 20px);
    background: orange;
    min-height: 610px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 40px;
}

aside input[type="text"] {
    display: block;
    margin-bottom: 5px;
    width: 90%;
    padding: 5px;
}

aside input[type="submit"] {
    display: block;
    width: 80%;
    padding: 5px;
    background: brown;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}